.QACardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 783px;
  height: 247px;
  top: 7224px;
  left: 617px;
  border-radius: 32px;
  background: #f2f2f2;
  margin-bottom: 15px;
}

.QACardsContainer_button {
  width: 35.31px;
height: 35.31px;
top: 7256px;
left: 1367.31px;
padding: 12px 0px 0px 0px;
gap: 8px;
border-radius: 28px;
border: 1px 0px 0px 0px;
opacity: 0px;
color:#989898;
}

.QACardsContainer_Question {
  width: 420px;
  height: 25px;
  top: 7256px;
  left: 649px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
}

.QACardsContainer div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.QACardsContainer_Answer {
  width: 90%;
  height: 132px;
  top: 7305px;
  left: 649px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #7d7c86;
}

@media only screen and (max-width: 480px) {
  .QACardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 247px;
    top: 7224px;
    left: 617px;
    border-radius: 1rem;
    background: #f2f2f2;
    margin-bottom: 15px;
  }

  .QACardsContainer_Question {
    width: 420px;
    height: auto;
    top: 7256px;
    left: 649px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #000000;
  }

  /* .QACardsContainer button {
  } */

  .QACardsContainer div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .QACardsContainer_Answer {
    width: 90%;
    height: 132px;
    top: 7305px;
    left: 649px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #7d7c86;
  }
}
