@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LexendZettaSemiBold.ttf");
  font-family: "Lexend Zetta";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LexendRegular.ttf");
  font-family: "Lexend";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LexendDecaLight.ttf");
  font-family: "Lexend Deca";
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LexendDecaRegular.ttf");
  font-family: "Lexend Deca";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LexendDecaMedium.ttf");
  font-family: "Lexend Deca";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LexendLight.ttf");
  font-family: "Lexend";
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LeckerliOneRegular.ttf");
  font-family: "Leckerli One";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LondrinaSolidLight.ttf");
  font-family: "Londrina Solid";
  font-weight: 300;
}
