.Nav {
  width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
  align-items: center;
}

.Nav button {
  display: none;
}

.Nav a {
  width: max-content;
}

.Nav_company {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  text-align: left;
}

.Nav_center {
  display: flex;
  justify-content: center;
  gap: 6.5rem;
}

.Nav_contact {
  display:flex;
  gap:1rem;
  align-items:center;
}

.Mobile_Nav_Container {
  display: none;
}

@media only screen and (max-width: 480px) {
  .Nav {
    width: 96%;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    min-height: 7rem;
    align-items: center;
  }

  .Nav a {
    width: max-content;
  }

  .Nav_company {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.875rem;
    text-align: left;
  }

  .Nav_center {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .Mobile_Nav_Container {
    display: block;
  }

  .Mobile_Nav_Icon {
    padding-left: 4%;
  }

  .Mobile_Nav {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    border-top: 1px solid;
  }

  .Mobile_Nav a {
    margin-top: 0px;
    border-bottom: 1px solid;
    padding-left: 1rem;
  }
}
