.RecentCard_container {
  display: flex;
  margin-left: 40px;
  gap: 100px;
}

.RecentCard_container img {
  max-width: 70%;
  height: 355px;
  top: 3240px;
  left: 40px;
  border-radius: 32px;
}

.RecentCard_container h5 {
  width: 265px;
  height: 50px;
  margin-bottom: 35px;
  top: 3240px;
  left: 1078px; 
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: #000000;
}

.RecentCard_container p {
  width: 265px;
  height: 84px;
  top: 3314px;
  left: 1078px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #7d7c86;
}

@media only screen and (max-width: 480px) {
  .RecentCard_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px;
  }
  
  .RecentCard_container img {
    max-width: 100%;
    height: 355px;
    top: 3240px;
    left: 40px;
    border-radius: 32px;
  }

  .RecentCard_container div {
    margin: auto;
  }
  
  .RecentCard_container h5 {
    height: 50px;
    margin-bottom: 10px;
    top: 3240px;
    left: 1078px; 
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color: #000000;
  }
  
  .RecentCard_container p {
    height: 4rem;
    top: 3314px;
    left: 1078px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #7d7c86;
  }
}